<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <img src="assets\img\logo.png" alt="Logo" height="60" class="d-inline-block align-text-top" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Programs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pricing" routerLinkActive="active-link">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>