<div class="container mt-5 mb-5">

    <h1 class="text-center">About Us</h1>
    <div  class="about">
    <p class="text-center">
        Founded by a team of dedicated fitness enthusiasts, Fitness Edge has been a part of the community for 10 years. Over the years, we have helped countless individuals transform their lives through our comprehensive fitness programs, experienced trainers, and state-of-the-art facilities.
        <br/>
        <br>
        We believe in a holistic approach to fitness, combining expert guidance, cutting-edge equipment, and a supportive community to ensure that our members reach their full potential. Our commitment to excellence has made us a trusted name in the fitness industry.
        <br/>
        <br>
        Our vision is to be the fitness destination of choice for individuals of all fitness levels and backgrounds. We aim to create a space where everyone feels welcome and inspired to lead a healthier lifestyle.
        <br/>
        <br>
        
    </p>
</div>

</div>